pkgbase = android-rebuilds-sdk-bin
	pkgdesc = Android SDK binaries provided by Android Rebuils project
	pkgver = 26.1.1
	pkgrel = 1
	url = https://android-rebuilds.beuc.net/
	install = android-rebuilds-sdk-bin.install
	arch = x86_64
	arch = i686
	license = custom
	optdepends = android-emulator: emulator has become standalone since 25.3.0
	optdepends = android-sdk-platform-tools: adb, aapt, aidl, dexdump and dx
	optdepends = android-udev: udev rules for Android devices
	provides = android-sdk
	source = https://android-rebuilds.beuc.net/dl/repository/sdk-repo-linux-tools-26.1.1.zip
	source = android-rebuilds-sdk-bin.sh
	source = android-rebuilds-sdk-bin.csh
	source = android-rebuilds-sdk-bin.conf
	sha1sums = c5b01d0ea1c998d4a9ca1f500fb24d3e8929bfcb
	sha1sums = 30a6ed281d54f8b7be08663a18c367f79c0d8d47
	sha1sums = 1bd09bf137fd09171cb426daa5748f117cfb3c25
	sha1sums = 145bdf3eb41a56574b289c1577a24bc47097ec83
	depends_x86_64 = java-environment
	depends_x86_64 = libxtst
	depends_x86_64 = fontconfig
	depends_x86_64 = freetype2
	depends_x86_64 = lib32-gcc-libs
	depends_x86_64 = lib32-glibc
	depends_x86_64 = libx11
	depends_x86_64 = libxext
	depends_x86_64 = libxrender
	depends_x86_64 = zlib
	depends_i686 = java-environment
	depends_i686 = libxtst
	depends_i686 = fontconfig
	depends_i686 = freetype2
	depends_i686 = gcc-libs
	depends_i686 = libx11
	depends_i686 = libxext
	depends_i686 = libxrender
	depends_i686 = zlib

pkgname = android-rebuilds-sdk-bin

